/* CSS declarations go here */
:root {
  --primary-blue: #0e3a4b;
  --secondary-blue: #009c8c;
  --museum-orange: #E87300;
  --light-museum: lighten(var(--museum-orange), 15%);
  --food-red: #DA052F;
  --theather-green: #007562;
}

.ui.primary.button {
  background: #009c8c!important
}

body, html {
  width: 100%;
  height: 100%;
}

.ui.grid {
  margin: 0px;
  padding: 0px;
  height: calc(100% - 70px)
}

.map-container {
  width: 100%;
  height: 100%;
}

#sidebar {
  overflow-x: hidden;
  overflow-y: visible;
}

#main-menu {
  margin: 0;
  padding: 0 20px;
  background: var(--primary-blue);
  height: 70px;
}

.iso {
  margin: 7px 0;
  height: 56px;
  width: auto;
}

.ui.modal {
  padding-bottom: 15px;
}

.ui.modal > .header {
  background: var(--primary-blue);
  color: white;
}

.ui.modal form > button, .ui.login {
  background: var(--secondary-blue);
  color: white;
}

.logo {
  margin: 20px;
  height: 30px;
  width: auto;
}

.ui.museum .meta, .ui.items > .item .museum.meta {
  color: var(--museum-orange);
}

.ui.theatre .meta, .ui.items > .item .theatre.meta {
  color: var(--theather-green);
}

.ui.restaurant .meta, .ui.items > .item .restaurant.meta {
  color: var(--food-red)
}

#user-menu {
  color: white;
}
