/* CSS declarations go here */
:root {
  --primary-blue: #0e3a4b;
  --secondary-blue: #009c8c;
  --museum-orange: #E87300;
  --food-red: #DA052F;
  --theather-green: #007562;
}

body, html {
  width: 100%;
  height: 100%;
}

.ui.grid {
  margin: 0px;
  padding: 0px;
  height: calc(100% - 70px)
}

.map-container {
  width: 100%;
  height: 100%;
}

#navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

#sidebar {
  overflow-x: hidden;
  overflow-y: visible;
}

#chart {
  max-height: 300px!important;
  width: 100%;
}

#main-menu {
  margin: 0;
  padding: 0 20px;
  background: var(--primary-blue);
  height: 70px;
}

.iso {
  margin: 7px 0;
  height: 56px;
  width: auto;
}

.logo {
  margin: 20px;
  height: 30px;
  width: auto;
}

#user-menu {
  color: white;
}
