/* colorTool: https://material.io/color/#!/?view.left=0&view.right=1&primary.color=0e3a4b&secondary.color=009c8c */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
:root {
  --primary-blue:         #0e3a4b;
  --secondary-blue:       #009c8c;
  --secondary-blue-dark:  #005F55;
  --museum-orange:        #E87300;
  --food-red:             #DA052F;
  --theather-green:       #007562;
  --secondary-menu:       #3e6477;
  --secondary-menu-light: rgb(144, 175, 191);
  --shadow:               rgba(0, 0, 0, 0.2);
}

.ui.primary.button {
  background: #009c8c!important
}

.ui.secondary.button {
  background: #0e3a4b!important
}

body, html {
  width: 100%;
  height: 100%;
}

a.text.icon {
  color: black;
}

.ui.grid {
  margin: 0px;
  padding: 0px;
  height: calc(100% - 127px);
}

.map-container {
  width: 100%;
  height: 100%;
  /*border-left: solid rgba(14, 58, 75, 0.34) 2px;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sortable-cards {
  padding: 5px;
  max-height: calc(100% - 70px);
  overflow-x: hidden;
  overflow-y: visible;
}

.ui.secondary.menu {
  background: var(--secondary-menu);
  height: 57px;
}

#sidebar .ui.secondary.menu {
  margin: -1rem -1em 1em -1em;
  padding: 12px 20px 0 20px;
}

#sidebar .ui.secondary.end.menu {
  /*background: var(--secondary-menu-light);*/
  background: white;
  /*border-top: solid grey;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 37.5%;
  margin-bottom: 0;
  padding-bottom: 12px;
}

#sidebar .ui.alternate.secondary.menu {
  color: white;
  background: var(--secondary-blue);
  margin: -1rem -1em 1em -1em;
  padding: 12px 20px 0 20px;
}

#sidebar .ui.alternate.menu .remove.icon {
  margin-right: 20px;
  height: 30px;
  width: auto;
  color: var(--secondary-blue-dark);
  cursor: pointer;
}

#sidebar .ui.alternate.menu h2 {
  margin: 0px;
  color: white;
}

#sidebar .ui.alternate.menu h5 {
  margin-top: 5px;
}

#map .ui.secondary.menu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  margin: 0;
}

#main-menu {
  margin: 0;
  padding: 0 20px;
  background: var(--primary-blue);
  height: 70px;
}

.iso {
  margin: 7px 0;
  height: 56px;
  width: auto;
}

.ui.header .content {
  margin: auto;
}

.ui.modal {
  padding-bottom: 15px;
}

.ui.modal > .header {
  background: var(--primary-blue);
  color: white;
}

.ui.modal form > button, .ui.login {
  background: var(--secondary-blue);
  color: white;
}

.planit.icon {
  height: 20px;
  width: auto;
}

.logo {
  margin: 10px 20px;
  height: 50px;
  width: auto;
}

.ui.horizontal.label {
  color: rgba(255, 255, 255, 0.92);
}

.ui.museum.horizontal.label {
  background-color: var(--museum-orange) !important;
}

.ui.theatre.horizontal.label {
  background-color: var(--theather-green) !important;
}

.ui.restaurant.horizontal.label {
  background-color: var(--food-red) !important;
}

.ui.card > .extra {
  background: #f7f7f7;
}

.ui.card > .content > .header:not(.ui) {
  margin-bottom: 7px;
}

#user-menu {
  color: white;
}

#carousel {
  width: 105%;
  margin-left: -38px;
  margin-top: 20px;
  padding-left: 30px;
}

#carousel-forms > .column {
  padding-left: 20px;
  padding-right: 20px;
}

#carousel-forms > .column:first-child {
  background: rgba(33, 133, 208, 0.15);
  border: solid 1px rgba(128, 128, 128, 0.31);
}

.slick-prev:before, .slick-next:before {
  color: #07d1c8;
  font-size: 50px;
}

.ui.form input[type="text"], .ui.form input[type="email"], .ui.form input[type="password"] {
  border: 1px solid rgba(34, 36, 38, 0.32);
}

.ui.hovering {
  background-color: var(--secondary-blue);
  color: white;
  position: absolute;
}

.ui.hovering:hover, .ui.active.hovering.button {
  background-color: white;
  color: black;
}
