<template name="card">
    <div class="ui link {{step.type}} fluid card" data-idx="{{idx}}">
      <div class="main content">
        {{#if isEditing}}
        <i class="right floated remove icon" data-idx="{{idx}}"></i>
        <i class="right floated angle up icon" data-idx="{{idx}}"></i>
        <i class="right floated angle down icon" data-idx="{{idx}}"></i>
        {{#if isEditingCard}}
        <i class="right floated check icon" data-idx="{{idx}}"></i>
        {{else if isPoint step.type}}
        <i class="right floated edit icon" data-idx="{{idx}}"></i>
        {{/if}}
        {{/if}}

        <div class="header">
          {{#if isEditingCard}}
          <div class="ui small input">
            <input type="text" value="{{step.name}}" placeholder="Gastos" min="0" step="100" id="newName">
          </div>
          {{else}}
          {{getIndex idx}}. {{step.name}}
          {{/if}}
        </div>
        <div class="meta">
          <div class="ui {{step.type}} horizontal label">
            <!-- <i class="hotel icon"></i> -->
            {{styleType step.type}}
          </div>
          <b>{{step.address}}</b>
        </div>
      </div>
      <div class="extra content" style="color:rgba(0, 0, 0, 0.85); font-size:1.3em">
        {{#if isEditingCard}}
        <div class="ui right labeled mini time input">
          <input type="number" min="0" step="1" id="hours">
          <div class="ui label">h</div>
        </div>
        <div class="ui right labeled mini time input">
          <input type="number" min="0" step="1" max="59" id="minutes">
          <div class="ui label">m</div>
        </div>
        {{else}}
        <b>{{step.time}}</b>
        {{/if}}
        <span class="right floated">
          {{#if isEditingCard}}
          <div class="ui labeled mini money input">
            <label for="newPrice" class="ui label">$</label>
            <input type="number" value="{{step.price}}" placeholder="Gastos" min="0" step="100" id="newPrice">
          </div>
          {{else}}
          <b>$ {{step.price}}</b>
          {{/if}}
        </span>
      </div>
    </div>
</template>

<template name="cardsModal">
  <div class="header">
    Verifica tu itinerario: {{getPlanName}}
  </div>
  <div class="scrolling content">
    <div class="description">
      <center>
        Verifica lo que ingresaste. <b>¿Es éste tu itinerario?</b><br/>
      </center>

        {{#unless currentUser}}
        Ingresa aquí un correo electrónico a donde podamos enviarlo para llevarlo a donde necesites.
        <form class="ui form">
          <div class="field">
            <input type="text" class="ui send email input" placeholder="Correo electrónico...">
            {{#if isEmailInvalid}}
            <div class="ui pointing red basic label">
              Ingresa un correo electrónico válido (ej. micorreo@electronico.com).
            </div>
            {{/if}}
          </div>
        </form>
        {{/unless}}

      <h3 class="ui center aligned header">
          {{getPlanName}}
          <div class="sub header">{{getPlanLength}}. {{getPlanTime}}. Programado para el {{styleDate}}.</div>
      </h3>

      <div class="ui divided items">
        {{#each steps}}
        <div class="item">
          <div class="image" style="width:20px; margin-top:10px;">
            <img class="ui left floated image" src="/markers/{{getPinImgName this.type}}-pin.png" style="width:20px;">
          </div>
          <div class="content">
            <div class="{{this.type}} meta">
              {{styleType this.type}}
            </div>
            <div class="header">
               {{this.name}}
            </div>
            <div class="description">
              ${{this.price}} - {{this.time}} de recorrido
            </div>
          </div>
        </div>
        {{/each}}
        <div class="item">
          <div class="content">
            <div class="right floated header">
               Total: ${{getPlanPrice}}
            </div>
          </div>
        </div>
      </div>

      <button class="ui yep positive right labeled icon button right floated">
        Continuar
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>
</template>
