<template name="cards">
  {{#unless steps}}
    <div class="text">
      ¡No tienes todavía lugares para tu itinerario!<br>
      Selecciona uno de los lugares disponibles o crea tu propio lugar y haz clic en <b>Agregar</b> para adicionarlo.
    </div>
  {{/unless}}

  <div id="sortable-cards">
    {{#each steps}}
    <div class="ui link {{this.type}} card" style="width: 100%;" data-step="{{@index}}">
      <div class="main content">
        <i class="right floated remove icon" data-step="{{@index}}"></i>
        <div class="header">
          {{getIndex @index}}. {{this.name}}
        </div>
        <div class="meta">
          <div class="ui {{this.type}} horizontal label">
            <!-- <i class="hotel icon"></i> -->
            {{beautifyType this.type}}
          </div>
          <b>{{this.address}}</b>
        </div>
      </div>
      <div class="extra content" style="color:rgba(0, 0, 0, 0.85); font-size:1.3em">
        <b>{{this.time}}</b>
        <span class="right floated">
          <b>$ {{this.price}}</b>
        </span>
      </div>
    </div>
    {{/each}}
  </div>

  <div class="ui green message">
    Precio Total: $ {{totalPrice}}<br>
    Tiempo total: {{totalTime}}
  </div>
  {{#if steps}}
  <div class="ui green end steps button">
    Finalizar
  </div>
  {{/if}}
  <div class="ui grid">
    <div class="eleven wide column" style="padding-left:0; width:100%">
    </div>
    <div class="five wide column" style="width:100%">
    </div>
  </div>
</template>

<template name="cardsModal">
  <div class="header">
    Finalizar tu itinerario
  </div>
  <div class="content">
    <div class="description">
      <p>
        Verifica lo que ingresaste. <b>¿Es éste tu itinerario?</b>
      </p>
      <div class="ui breadcrumb">
        <ol>
          {{#each steps}}
            <li>
              {{this.name}} ($ {{this.price}})
            </li>
          {{/each}}
        </ol>
      </div>
      <div>
      <div class="ui green horizontal label">Total
        <div class="detail">{{totalPrice}}</div>
      </div>
      <p>
        Si este realmente es tu itinerario, ingresa aquí un correo electrónico
        a donde podamos enviarlo para llevarlo a donde necesites.

        <form class="ui form">
          <input type="text" class="ui send email input" placeholder="Correo electrónico...">
        </form>
      </p>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Cancelar
    </div>
    <div class="ui yep positive right labeled icon button">
      Agregar Itinerario
      <i class="checkmark icon"></i>
    </div>
  </div>
</template>
