<template name="cards">
  {{#each steps}}
    <div class="ui link card" style="width: 100%;" draggable="true">
      <div class="content">
        <i class="right floated remove icon" data-step="{{@index}}"></i>
        <i class="right floated angle down icon" data-step="{{@index}}"></i>
        <i class="right floated angle up icon" data-step="{{@index}}"></i>
        <div class="header">{{getIndex @index}}. {{this.name}}</div>
        <div class="description">
          <p>{{this.description}}</p>
        </div>
      </div>
      <div class="extra content">
        <span class="left floated like">
          <i class="like icon"></i>
          Like
        </span>
        <span class="right floated star">
          <i class="star icon"></i>
          Favorite
        </span>
      </div>
    </div>
  {{/each}}
</template>
