<template name="cards">
  {{#unless stops}}
  <center>
    <img src="/images/sad.png" class="ui image" style="margin:60px;">
    <h3 class="ui header">¡Todavía no tienes lugares para tu itinerario!</h3>
    <button class="ui primary intro button">
      ¿Cómo se hace un plan?
    </button>
    <!-- Selecciona uno de los lugares disponibles o crea tu propio lugar y haz clic en <b>Agregar</b> para adicionarlo. -->
  </center>
  {{/unless}}

  <div id="sortable-cards">
    {{#each stops}}
    <div class="ui link {{this.type}} fluid card" data-step="{{@index}}">
      <div class="main content">
        <i class="right floated remove icon" data-step="{{@index}}"></i>
        <i class="right floated angle up icon" data-step="{{@index}}"></i>
        <i class="right floated angle down icon" data-step="{{@index}}"></i>
        <div class="header">
          {{getIndex @index}}. {{this.name}}
        </div>
        <div class="meta">
          <div class="ui {{this.type}} horizontal label">
            <!-- <i class="hotel icon"></i> -->
            {{styleType this.type}}
          </div>
          <b>{{this.address}}</b>
        </div>
      </div>
      <div class="extra content" style="color:rgba(0, 0, 0, 0.85); font-size:1.3em">
        <b>{{this.time}}</b>
        <span class="right floated">
          <b>$ {{this.price}}</b>
        </span>
      </div>
    </div>
    {{/each}}
  </div>

  {{#if stops}}
  <div class="ui secondary end menu">
    <div class="ui green image label" style="margin:0; font-size:1em;">
      Precio <br>Total: <div class="detail" style="margin-left:13px;">$ {{totalPrice}}</div>
    </div>
    <div class="ui teal image label" style="margin:0; font-size:1em; margin-left:20px;">
      Tiempo <br>total:
      <div class="detail" style="margin-left:17px;"><i class="time icon"></i>{{totalTime}}</div>
    </div>
    <div class="">
    </div>
    <div class="right menu">
      <div class="ui secondary end steps button" style="padding:14px 20px">Finalizar</div>
    </div>
  </div>
  {{/if}}

</template>

<template name="cardsModal">
  <div class="header">
    Verifica tu itinerario: {{getPlanName}}
  </div>
  <div class="scrolling content">
    <div class="description">
      <center>
        Verifica lo que ingresaste. <b>¿Es éste tu itinerario?</b><br/>
      </center>

        {{#unless currentUser}}
        Ingresa aquí un correo electrónico a donde podamos enviarlo para llevarlo a donde necesites.
        <form class="ui form">
          <div class="field">
            <input type="text" class="ui send email input" placeholder="Correo electrónico...">
            {{#if isEmailInvalid}}
            <div class="ui pointing red basic label">
              Ingresa un correo electrónico válido (ej. micorreo@electronico.com).
            </div>
            {{/if}}
          </div>
        </form>
        {{/unless}}

      <h3 class="ui center aligned header">
          {{getPlanName}}
          <div class="sub header">{{getPlanLength}}. {{getPlanTime}}. Programado para el {{styleDate}}.</div>
      </h3>

      <div class="ui divided items">
        {{#each stops}}
        <div class="item">
          <div class="image" style="width:20px; margin-top:10px;">
            <img class="ui left floated image" src="/markers/{{getPinImgName this.type}}-pin.png" style="width:20px;">
          </div>
          <div class="content">
            <div class="{{this.type}} meta">
              {{styleType this.type}}
            </div>
            <div class="header">
               {{this.name}}
            </div>
            <div class="description">
              ${{this.price}} - {{this.time}} de recorrido
            </div>
          </div>
        </div>
        {{/each}}
        <div class="item">
          <div class="content">
            <div class="right floated header">
               Total: ${{getPlanPrice}}
            </div>
          </div>
        </div>
      </div>

      <button class="ui yep positive right labeled icon button right floated">
        Continuar
        <i class="checkmark icon"></i>
      </button>
    </div>
  </div>
</template>
