<template name="introModal">
  <i class="close icon"></i>
  <center>
    <div id="carousel">
      <!-- <div>
        <center><img src="/images/intro.png"/></center>
      </div> -->
      <div>
        {{#with currentUser}}
          {{> introWelcomeBack}}
        {{/with}}

        {{#unless currentUser}}
          {{> introSteps}}
        {{/unless}}
      </div>

      <div>
        {{#with currentUser}}
          {{> introSteps}}
        {{/with}}

        {{#unless currentUser}}
          {{> introForms}}
        {{/unless}}
      </div>
    </div>
  </center>
</template>


<template name="introSteps">
  <div class="ui centered header">
    <h1 style="font-family:'Varela Round',sans-serif; font-size:2em; margin-top:30px;">
      <b>¡Planea tu viaje con
        <img class="ui spaced image" src="/logo/logo.png" style="height:30px; width:auto; margin-bottom: 0.2em; margin-left: 0.1em;">!
      </b>
    </h1>
    <h2>Calcula precios y organiza tu tiempo</h2>
  </div>
  <center><img src="/images/introModal.png"/></center>
</template>


<template name="introForms">
  <center style="padding:0 100px;">
    <div class="ui centered header">
      <h1 style="font-family:'Varela Round',sans-serif; font-size:2em; margin-top:30px;">
        <b>¡Regístrate y comienza a planear!</b>
      </h1>
      <h3>Al registarte en Planit puedes <b class="ui primary header">guardar, compartir y personalizar</b>
      las mejores recorridos para tus planes. ¡Ingresa tus datos y haz parte de la comunidad!</h3>
    </div>
    <div class="ui two column grid" style="margin-top:40px;" id="carousel-forms">
      <div class="column">
        <h3 style="margin-bottom:20px;">Registrate ahora</h3>
        {{> signUpForm}}
      </div>
      <div class="column">
        <h3 style="margin-bottom:20px;">¿Ya eres parte de Plan it? Inicia Sesión</h3>
        {{> loginForm}}
        <button class="ui centered close button" style="margin-top:20px; bottom:0; position:absolute;">
          Continuar sin registrarse
        </button>
      </div>
    </div>
  </center>
</template>


<template name="introWelcomeBack">
  <h1 style="font-family:'Varela Round',sans-serif; font-size:2.5em; margin-top:30px;">
    <b>¡Bienvenido de nuevo <span style="color:teal; text-transform:capitalize;">{{profile.name}}</span>!</b>
  </h1>
  <h2>Qué bueno verte de vuelta</h2>
  <img src="/images/happy.png" class="ui centered image" style="margin:60px;">
  <button class="ui centered big primary labeled icon close button">
    <i class="check icon"></i>
    ¡Comienza a planear!
  </button>
</template>
