<template name="mainMenu">
  <div class="ui secondary menu" id="main-menu">
    <a href="#">
      <img class="iso" src="/logo/isotipo-suitcase.png">
      <img class="logo" src="/logo/logo-white-bog.png">
    </a>
    <div class="right menu">

      {{#unless currentUser}}
        <a class="ui item" href="#">
          <div class="ui inverted signup button">
            Registrarse
          </div>
        </a>
        <a class="ui item" href="#">
          <div class="ui login button">
            Iniciar Sesión
          </div>
        </a>
      {{/unless}}

      {{#with currentUser}}
        {{> userMenu user=this}}
      {{/with}}
    </div>
  </div>
</template>
