<template name="searchForm">
  <div class="ui icon search input">
    <i class="search icon"></i>
    <input type="text" placeholder="Search tags...">
  </div>
  <div class="divider"></div>
  <div class="header">
    <i class="tags icon"></i> Tag Label
  </div>
  <div class="scrolling menu">
    <div class="museum item">
      <img class="planit icon" src="/markers/muse-pin.png" alt="">
      <div class="ui museum checkbox">
        <input type="checkbox" name="chkMuseum">
        <label>Museos</label>
      </div>
    </div>
    <div class="theatre item">
      <img class="planit icon" src="/markers/teat-pin.png" alt="">
      <div class="ui theatre checkbox">
        <input type="checkbox" name="chk-theatre">
        <label>Teatros</label>
      </div>
    </div>
    <div class="restaurant item">
      <img class="planit icon" src="/markers/rest-pin.png" alt="">
      <div class="ui restaurant checkbox">
        <input type="checkbox" name="chk-restaurant">
        <label>Restaurantes</label>
      </div>
    </div>
  </div>
</template>

<template name="searchFilters">
  <div class="ui hovering dropdown button">
    ¿Qué lugares quieres ver?
    <i class="dropdown icon"></i>
    <div class="menu">
      <div class="header">
        <i class="tags icon"></i> Tipos de lugar
      </div>
      <div class="scrolling menu">
        <div class="museum item">
          <img class="planit icon" src="/markers/muse-pin.png" alt="">
          <div class="ui museum checkbox">
            <input type="checkbox" name="chkMuseum">
            <label>Museos</label>
          </div>
        </div>
        <div class="theatre item">
          <img class="planit icon" src="/markers/teat-pin.png" alt="">
          <div class="ui theatre checkbox">
            <input type="checkbox" name="chk-theatre">
            <label>Teatros</label>
          </div>
        </div>
        <div class="restaurant item">
          <img class="planit icon" src="/markers/rest-pin.png" alt="">
          <div class="ui restaurant checkbox">
            <input type="checkbox" name="chk-restaurant">
            <label>Restaurantes</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
