<template name="userMenu">
  {{#with user}}
  <!-- <div class="ui dropdown item">
    <img class="" src="/avatars/avatar12.png">
    <div class="menu">
      <div class="item">
        <img class="ui avatar image" src="/avatars/avatar8.png">
      </div>
      <div class="item">
        <img class="ui avatar image" src="/avatars/avatar9.png">
      </div>
      <div class="item">
        <img class="ui avatar image" src="/avatars/avatar10.png">
      </div>
      <div class="item">
        <img class="ui avatar image" src="/avatars/avatar12.png">
      </div>
    </div>
  </div> -->
  <div id="user-menu" class="ui dropdown item">
    Bienvenido, {{profile.name}}
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="itineraries item">Mis itinerarios
        <div class="floating ui red label">{{itinCount}}</div></a>
      <a class="logout item">Cerrar sesión</a>
    </div>
  </div>
  {{/with}}
</template>

<template name="myItinerariesModal">
  <div class="header">
    Mis itinerarios
  </div>
  <div class="scrolling content">
    <div class="description">
      {{#unless itineraries}}
        No tienes itinerarios todavía! Crea uno usando la interfaz de mapa de Planit.
      {{/unless}}

      {{#if itineraries}}
      <div class="ui accordion">
        {{#each itineraries}}
        <div class="title">
          <i class="dropdown icon"></i>
          Itinerario creado el {{getItinDate this}}.
        </div>
        <div class="content">

          <div class="ui tablet stackable steps">
            {{#each this.steps}}
            <div class="link step"><div class="ui floating {{this.type}} horizontal label">
            {{beautifyType this.type}}
            </div>
              <div class="content">
                <div class="title">{{this.name}}
                </div>
                <div class="description">
                  ${{this.price}}, {{this.time}}
                </div>
              </div>
            </div>
            {{/each}}
          </div>

          <a href="#" class="itin remove" data-id="{{this._id}}">Eliminar itinerario</a>
        </div>
        {{/each}}
      </div>
    {{/if}}
    </div>
  </div>
</template>
