<template name="userMenu">
  {{#with user}}
  <div class="ui dropdown item">
    Bienvenido, {{profile.name}}
    <i class="dropdown icon"></i>
    <div class="menu">
      <a class="itineraries item">Mis itinerarios
        <div class="floating ui red label">{{itinCount}}</div></a>
      <a class="logout item">Cerrar sesión</a>
    </div>
  </div>
  {{/with}}
</template>

<template name="myItinerariesModal">
  <div class="header">
    Mis itinerarios
  </div>
  <div class="content">
    <div class="description">
      {{#each itineraries}}
      <p>
        Itinerario creado el {{this.createdAt}}.
        <div class="ui green horizontal label">Total
          <div class="detail">{{this.price}}</div>
        </div>
        <ol>
          {{#each this.steps}}
            <li>
              {{this.name}}
            </li>
          {{/each}}
        </ol>
      </p>
      {{/each}}
    </div>
  </div>
  <div class="actions">
    <div class="ui blue deny button">
      Volver
    </div>
  </div>
</template>
