<template name="welcomeModal">
    <div class="header">
      Bienvenido a &lt;nombre de la aplicación&gt;!
    </div>
    <div class="image content">
      <div class="description">
        <div class="ui header">En esta aplicación podrás crear un itinerario para tu día como turista.</div>
        <p>Dinos dónde vas a empezar tu recorrido.</p>

        {{> loginButtons}}

        <!-- START MODAL FORM -->
        <form id="initialAddressModal" class="ui form">
          <div class="field">
            <input type="text" name="address" placeholder="Dirección...">
          </div>
          <button class="ui green labeled icon button" type="submit">
            <i class="checkmark icon"></i>
            Comenzar
          </button>
          <button class="ui red labeled icon button">
            <i class="marker icon"></i>
            Buscar en mapa
          </button>
        </form>

      </div>
    </div>
</template>
